
/* 
    Created on : 12 oct. 2016, 09:39:10
    Author     : pascal
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}

#contact-body {
    display: none;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Crete Round', sans-serif;
}

#contact-form {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Crete Round', sans-serif;
}

#contact-fieldset {
    border: none;
}

#contact-main {
   
}