
/* 
    Created on : 12 oct. 2016, 09:39:10
    Author     : pascal
*/


#body-contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pinyon Script', cursive;


}

#form-contact {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Pinyon Script', cursive;
    font-size: 30px;

}

#fieldset-contact {
    border: none;
}

#main-contact {
    background-color: black;
}