<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <title>{% block title %}CorinneCréation{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Days+One|Fredoka+One|Nunito|Parisienne|Pinyon+Script|Rochester|Sacramento|Sofia" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/corinne/css/materialize.min.css') }}" media="screen,projection">


</head>

<body>


{% block header %}{% endblock %}
{% block slider %}{% endblock %}
{% block body %} {% endblock %}
{% block footer %}{% endblock %}

<!-- Import jQuery before materialize.js -->
<!-- APPEL SCRIPT JQUERY on line -->
<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript offline Materialize -->
<script src="{{ asset('bundles/corinne/js/materialize.min.js') }}"></script>

{% block js %}{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/corinne/js/app.js') }}"></script>

</body>

</html>
