{% extends '@Corinne/layout.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">

            {% for objet in objets %}

                <div class="col s12 m6 l4">
                    <div class="card opaque amber-text">
                        <div class="card-image">
                            <img src="{{ asset('uploads/pictures/')}}{{ objet.source }}" alt="{{ objet.alt }}" class="liste-size materialboxed">
                            <span class="card-title">Oeuvres</span>
                        </div>
                        <div class="card-content">
                            <p>{{ objet.definition }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}