{% extends '@Corinne/layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <table>
                <th></th>
            {% for objet in objets %}
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}