{% extends '@Corinne/layout.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">
        {% for categorie in categories %}
        <div class="col s12 m6 l6 grid margin-grid">
            <figure class="effect-sarah" >
                <img src="{{ asset('bundles/corinne/images/collier3.jpg') }}" alt="img13" class="img-hover"/>
                <figcaption>
                    <h2><span> {{ categorie.nomcat }}</span> </h2>
                    <ul>
                        {% for souscategorie in categorie.souscategorie %}
                            <li>
                                <a href={{ path('corinne_liste', { 'id':souscategorie.id }) }} class="lien">  {{ souscategorie.nomsouscat }} </a>
                            </li>
                        {%  endfor %}
                    </ul>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}