{# Corinne/Resources/views/Emails/registration.html.twig #}
<h3>Je vous remercie !</h3>

Bonjour {{ name }}! Votre demande de contact a bien été enregistré.

{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}

Merci !

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}