/***************************************************
*
* -- INDEX ADMIN
*
* -- 1 - INDEX
* --- 1.1 - Categorie
* --- 1.2 - Contact
* --- 1.3 - Eco Label
* --- 1.4 - Event
* --- 1.5 - Objet
* --- 1.6 - Presse
* --- 1.7 - Sous Categorie
*
* -- 1 - EDIT
* --- 2.2 - Contact
* --- 2.3 - Eco Label
* --- 2.4 - Event
* --- 2.5 - Objet
* --- 2.6 - Presse
* --- 2.7 - Sous Categorie
*
* -- 1 - EDIT
* --- 3.1 - Categorie
* --- 3.2 - Contact
* --- 3.3 - Eco Label
* --- 3.4 - Event
* --- 3.5 - Objet
* --- 3.6 - Presse
* --- 3.7 - Sous Categorie
*
* -- 1 - EDIT
* --- 4.1 - Categorie
* --- 4.2 - Contact
* --- 4.3 - Eco Label
* --- 4.4 - Event
* --- 4.5 - Objet
* --- 4.6 - Presse
* --- 4.7 - Sous Categorie
*
$**************************************************/


/**************************************************
*                                                 *
*                       INDEX                     *
*                                                 *
**************************************************/

a {
    font-family: 'Crete Round', sans-serif;
    font-size: 1.2em;
    color: #20B2AA;
}

a:hover{
    color:white;
}

.f {
    background: gainsboro;
}

div .e {
    background: gainsboro;
    white-space: nowrap;
}

div .e:hover .f {
    background: #A9A9A9;
}

.spacing-rows {
    /*white-space: nowrap;*/
}

.delete {
    width: 30%;
}

.img-size {
    width: 40%;
}


/**************************************************
*                                                 *
*                       EDIT                      *
*                                                 *
**************************************************/


.btn-heigth {
    margin-top: 500px !important;
}

.text-size {
    font-size: 1.8em;
}